.top {
  height: 400px;
  background-image: url("../../public/festival_title.jpg");
  background-position: center;
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.topTitle {
  color: white;
  z-index: 2;
  text-align: center;
}

.topTitle > h2 {
  font-size: 2rem;
  font-weight: 600;
}

.topTitle > p {
  font-size: 0.9rem;
  opacity: 0.7;
}

.searchContentBox {
  margin: 0 auto;
  height: 300px;
  max-width: 1500px;
  width: 90%;
  padding-top: 120px;
}

.searchContentBox > h3 {
  font-size: 1.6rem;
}

.searchContentBox > h3 > span {
  font-weight: 700;
}

.listContent {
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
  padding-bottom: 200px;
}
