.wrapper {
  display: flex;
  height: 240px;
  margin-top: 20px;
  justify-content: space-between;
  gap: 1rem;
}

.image {
  width: 20%;
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 10px;
}

.contents {
  flex: 1;
  padding: 2rem;
}

.contentsTop {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.4rem;
  font-weight: 800;
}

.date {
  color: rgba(0, 0, 0, 0.356);
  padding-top: 10px;
}

.addr {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.836);
  padding-top: 14px;
}

.overview {
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: rgba(0, 0, 0, 0.699);
  padding-top: 2.6rem;
}

.interface {
  display: flex;
  gap: 5px;
}

.like {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like > img {
  width: 20px;
}

.dDay {
  border: 1px solid #3b2db57a;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.dDay > span {
  color: #3b2db5;
  font-weight: 600;
}

.detailBtn {
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: #3b2db5;
  border: none;
  outline: none;
  color: white;
}
