.servicePick {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.servicePickItem {
  color: rgba(255, 255, 255, 0.459);
  padding: 1rem 0;
  border-bottom: 1px solid transparent;
}

.servicePickItem:hover {
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.servicePickItem.on {
  color: white;
  border-bottom: 1px solid white;
}
