.servicePick {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.servicePickItem {
  color: rgba(255, 255, 255, 0.459);
  padding: 1rem 0;
  border-bottom: 1px solid transparent;
}

.servicePickItem:hover {
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.servicePickItem.on {
  color: white;
  border-bottom: 1px solid white;
}

.searchContent {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.searchContent > select {
  background-color: transparent;
  width: 100px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.637);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.726);
  margin: none;
}

.searchContent > select > option {
  color: black;
}

.searchContent > input {
  width: 1000px;
  height: 40px;
  padding: 0 0 0 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.searchContent > input::placeholder {
  color: rgba(255, 255, 255, 0.281);
}
